@(item: Item)(itemForm: Form[ItemForm])

@main("Item Details") {
<h1>@item.getName()</h1>
@helper.form(routes.HomeController.editItem) {
    <div class="fill text-center">
        @helper.inputText(form(name), '_label -> "ItemName", '_showConstraints -> false)
        @helper.inputText(form(imgURL), '_label -> "ImgURL", '_showConstraints -> false)
        @helper.inputText(form(description), '_label -> "Description", '_showConstraints -> false)
        @helper.inputText(form(price), '_label -> "Price", '_showConstraints -> false)
        <button class="btn btn-primary" type="submit">Submit Changes</button>
    </div>
}